.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
*.xcconfig
.xcconfig
Base.xcconfig
Config.xcconfig
Debug.xcconfig
.sentryclirc
Release.xcconfig
CLAUDE.md
.mcp.json
.cursor/**
.claude/**
.xcodebuildmcp/**
skills-lock.json
.swiftlint.yml